<div class="container-login"> <!--background: indigo-->

  <!-- 
    [ngStyle]="{'background': shareDataService.temaNoturno ? 
    'unset' : 'lightpink'}"
    
    <div [ngStyle]="{'margin': shareDataService.isXSmall ? '10px 0 15px 0px' : '20px'}"
      class="div-logo">
    <img (click)="router.navigate(['/'])" 
        class="ocultar-efeito-padrao-clique logo-login" 
        src="../../../assets/hanger.svg">
  </div> -->
  
  <mat-card [ngStyle]="{'width': shareDataService.isXSmall ? '260px' : '300px'}"
      class="card-login">
    
    <app-logo></app-logo>

    <h3 class="titulo-login">
      Entre na sua conta
    </h3>

    <!-- <div style="display: flex; margin-bottom: 20px;">
      <img style="width: 117px; margin: auto;" src="../../../assets/hanger.svg">
    </div> -->

    <form [formGroup]="form" autocomplete="off">
      <div class="div-form-login">
        <mat-form-field appearance="fill" class="campo-phone">

          <mat-label>Número do celular</mat-label>
          
          <input formControlName="phone" matInput required
              placeholder="(00) 91234-5678" 
              mask="(00) 00000-0000">

          <!-- <mat-hint>Só precisa digitar os números ;)</mat-hint> -->
          <mat-hint>DDD e número</mat-hint>
          
          <mat-error *ngIf="form.get('phone').hasError('required')">
            O número do celular deve ser preenchido
          </mat-error>

          <mat-error *ngIf="form.get('phone').hasError('Mask error')">
            O número está incorreto
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="campo-senha">

          <mat-label>Senha</mat-label>

          <input formControlName="password" matInput placeholder="Digite sua senha" 
              [type]="tipoCampoSenha" required>

          <mat-icon class="ocultar-efeito-padrao-clique icone-exibir-senha"
              (click)="tipoCampoSenha === 'password' ? tipoCampoSenha = 'text' : 
                  tipoCampoSenha = 'password'" matSuffix>
            {{tipoCampoSenha === 'password' ? 'visibility' : 'visibility_off'}}
          </mat-icon>

          <mat-error *ngIf="form.get('password').hasError('required')">
            A senha deve ser preenchida
          </mat-error>        
        </mat-form-field>
  
        <button mat-raised-button [color]="shareDataService.temaNoturno ? 'accent' : 'primary'" 
            class="botao-entrar" [disableRipple]="desabilitarBotaoEntrar"
            (click)="entrar()" >
          <span style="margin-right: 10px;"> <!--[disabled]="desabilitarBotaoEntrar"-->
            {{textoBotaoEntrar}}
          </span>

          <mat-icon style="width: 21px; height: 21px; margin-top: 2px;" 
              *ngIf="desabilitarBotaoEntrar">
            <mat-spinner [color]="shareDataService.temaNoturno ? 'primary' : 'accent'" 
                [diameter]="18"></mat-spinner>
          </mat-icon>
        </button>

        <div class="div-botoes-secundarios">
          <div>
            <mat-divider [inset]="true"></mat-divider>
          </div>
          
          <button [color]="shareDataService.temaNoturno ? 'primary' : 'accent'" 
              type="button" class="botao-criar-conta" mat-stroked-button
              [disableRipple]="desabilitarBotaoEntrar"
              (click)="redirecionarEAtualizarMetaTag('novaconta')">
            Criar uma conta
          </button>
  
          <!--
            [color]="shareDataService.temaNoturno ? 'primary' : 'accent'"
          -->
          <button *ngIf="false"
              (click)="recuperarSenha()"
              type="button" mat-button
              [disableRipple]="true" 
              [ngClass]="{'efeito-clique': ativarEfeitoClique, 'botao-recuperar-senha': true}"
              (touchstart)="ativarEfeitoClique = true; recuperarSenha()" 
              (touchend)="ativarEfeitoClique = false;">
            Recuperar senha
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>