<div class="container-cards">
  <input #campoImagem (change)="readFile($event); campoImagem.value=''" type="file" 
      multiple accept="image/*">

  <div *ngFor="let roupa of roupas; let i = index" class="div-imagem">

    <!--ÍCONE DE REMOÇÃO-->
    <div class="div-icone-remocao" (click)="excluirImagem(i)">
      <mat-icon>close</mat-icon>
    </div>

    <!--IMAGEM-->
    <div [ngStyle]="{'background': url(roupa.inputFile)}" class="imagem"> <!--'filter': 'blur(2px)',-->
    </div>

    <!--BACKDROP-->
    <div class="backdrop">
      <div class="div-checkbox-imagem" *ngIf="roupa.uploadCompleto">
        <span>Clima</span>
        <mat-checkbox>Quente</mat-checkbox>
        <mat-checkbox>Frio</mat-checkbox>
        <mat-checkbox>Ambiente</mat-checkbox>
      </div>

      <div class="div-spinner" *ngIf="!roupa.uploadCompleto && !roupa.falhaUpload">
        <mat-progress-spinner diameter="55" class="spinner-margin" mode="indeterminate" 
            color="accent">
        </mat-progress-spinner>
      </div>

      <div class="div-erro-upload" *ngIf="roupa.falhaUpload">
        <span>Erro de rede</span>
      
        <button type="button" mat-fab (click)="uploadFile(roupa, true)">
          <mat-icon>refresh</mat-icon>
        </button>

        <span>Tentar novamente</span>
      </div>
    </div>
  </div>

  <!--BOTÃO ADICIONAR-->
  <div class="div-botao-add">
    <div>
      <button type="button" mat-fab (click)="campoImagem.click()">
        <mat-icon>add</mat-icon> 
      </button>

      <span>Adicionar</span>
    </div>
  </div>
</div>