<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [opened]="exibirMenu()" autoFocus="false"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="shareDataService.isXSmall ? drawer.toggle() : false" 
          [routerLink]="['configuracoes']">
        Configurações
      </a>
      <a mat-list-item (click)="logout(); shareDataService.isXSmall ? drawer.toggle() : false">
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="
      {
        'background': setBackground(), 
        'transition': 
          router.url === '/login' || 
          router.url === '/nova-conta' ? 'background 0.75s' : 'unset'
      }"> 
    <mat-toolbar class="fixed-toolbar" 
        *ngIf="router.url !== '/login' && router.url !== '/nova-conta'"
        [ngStyle]="
            {
              'borderBottom': !shareDataService.temaNoturno ? '1px solid #0000001f' : '1px solid #ffffff1a',
              'background': shareDataService.temaNoturno ? '#303030' : 'white'
            }">
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="isIntoWhiteListMenu() ? drawer.toggle() : backPage()"
          *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">
          {{isIntoWhiteListMenu() ? 'menu' : 'arrow_back'}}
        </mat-icon>
      </button>

      <span class="titulo-toolbar" *ngIf="!shareDataService.guardaRoupaEscolhido || 
          !shareDataService.tabGuardaRoupaSelecionada || router.url !== '/home'">
        {{shareDataService.tituloBarraSuperior}}
      </span>

      <div *ngIf="shareDataService.tabGuardaRoupaSelecionada && 
          shareDataService.guardaRoupaEscolhido && router.url === '/home'">

        <mat-form-field id="campo-guarda-roupa-escolhido" class="ocultar-efeito-padrao-clique">
          <mat-select [value]="shareDataService.guardaRoupaEscolhido.nome">
            <mat-option *ngFor="let guardaRoupa of shareDataService.listaGuardaRoupas" 
                [value]="guardaRoupa.nome" style="height: 2.4em;">
              {{guardaRoupa.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
      </div>
    </mat-toolbar>

    <div class="div-router-outlet" 
        [ngStyle]="
        {
          'marginTop': 
            router.url !== '/nova-conta' && 
            router.url !== '/login' ? '56px' : '0px',
          'display': 
            router.url === '/nova-conta' || 
            router.url === '/login' ? 'flex' : 'block', 
          'flexDirection': 
            router.url === '/nova-conta' || 
            router.url === '/login' ? 'column' : 'unset', 
          'justifyContent': 
            router.url === '/nova-conta' || 
            router.url === '/login' ? 'center' : 'unset'
        }">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
