.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}

.fixed-toolbar {
  position: fixed; 
  z-index: 5
}

.titulo-toolbar {
  margin-left: 15px;
}

.div-router-outlet {
  height: 100%;
}

