// mat-dialog-content.mat-dialog-content {
//   display: flex;
//   height: 121px;
//   justify-content: center;
// }
.div-spinner {
  display: flex;
  height: 121px;
  justify-content: center;
}

.container-spinner {
  padding: 24px; 
  border-radius: 20px;
}