.container-dialog-confirmacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 16px;
}

.div-campo-codigo {
  display: flex;
  flex-direction: column;
}

