<ng-container 
    *ngIf="shareDataService.tabGuardaRoupaSelecionada && 
        shareDataService.guardaRoupaEscolhido && router.url === '/home'">
  <div style="display: flex; justify-content: space-between;">
    <div>
      <mat-form-field id="campo-guarda-roupa-escolhido" 
          class="ocultar-efeito-padrao-clique">
        <mat-select [value]="shareDataService.guardaRoupaEscolhido.nome">
          <mat-option *ngFor="let guardaRoupa of shareDataService.listaGuardaRoupas" 
              [value]="guardaRoupa.nome" style="height: 2.4em;">
            {{guardaRoupa.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
  
    <div [ngClass]="{'dark-theme': shareDataService.temaNoturno}" 
        style="margin-left: auto;">
      <button mat-icon-button color="accent" (click)="adicionarPecaRoupa()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</ng-container>