::ng-deep #campo-guarda-roupa-escolhido {
  .mat-form-field-wrapper >.mat-form-field-underline {
    display: none;
  }
  width: 90px;
  font-size: 20px;
  height: 56px;
  margin-left: 15px;
  margin-top: -17px;
}

.teste {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}