<mat-tab-group id="tabGroupGuardaRoupa" backgroundColor="primary" color="accent">
  <mat-tab label="CASUAL">
    <div style="margin: 10px 10px">
      <mat-card>
        <h1 *ngIf="shareDataService.estiloRoupa === 'm'">Camisetas, polos e regatas</h1> <!-- Manga-curta ()  Roupas de cima-->
        <h1 *ngIf="shareDataService.estiloRoupa === 'f'">Blusas</h1> <!--Manga-curta ()-->

        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'mangaCurta')"></app-card-roupa>
    
        <br/>
        <br/>
        
        <h1>Casacos, jaquetas e moletons</h1> <!--Manga-longa ()-->

        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'mangaLonga')"></app-card-roupa>

        <br/>
        <br/>

        <ng-container>
          <h1>Peças únicas</h1>
          
          <h3 *ngIf="shareDataService.estiloRoupa === 'm'">Macacões e sobretudos</h3>
          <h3 *ngIf="shareDataService.estiloRoupa === 'f'">Vestidos, macacões e sobretudos</h3>

          <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'pecasUnicas')"></app-card-roupa>

          <br/>
          <br/>
        </ng-container>

        <h1 *ngIf="shareDataService.estiloRoupa === 'm'">Calças e bermudas</h1><!--Pernas-->
        <h1 *ngIf="shareDataService.estiloRoupa === 'f'">Calças, shorts e saias</h1>
    
        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'roupasBaixo')"></app-card-roupa>
        
        <br/>
        <br/>
        
        <h1>Calçados</h1>
    
        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'calcados')"></app-card-roupa>
        
        <br/>
        <br/>

        <h1>Acessórios</h1>

        <h3>Cabeça</h3>
        <p>Bonés, óculos e brincos</p>

        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'acessorios', 'cabeca')"></app-card-roupa>

        <h3>Pescoço</h3>
        <p>Colares e cachecóis</p>

        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'acessorios', 'pescoco')"></app-card-roupa>

        <h3>Braços</h3>
        <p>Bolsas, pulseiras, relógios, luvas e anéis</p>

        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'acessorios', 'bracos')"></app-card-roupa>

        <h3>Pernas</h3>
        <p>Meias</p>

        <app-card-roupa (atualizouGuardaRoupa)="atualizarGuardaRoupa($event, 'acessorios', 'pernas')"></app-card-roupa>

        <br/>
        <br/>
        
        <!-- <h1>Combinações</h1>
        <button type="button" mat-flat-button (click)="gerarCombinacoes()" color="accent">
          Gerar combinações 
        </button>
        
        <div style="display: flex; flex-wrap: wrap">
          <ng-container *ngFor="let combinacao of combinacoes">
            <div style="display: flex; flex-direction: row" style="margin: 10px">
              <img [src]="combinacao.roupaCima.file" style="max-width: 100px; min-width: 100px;">
              <img [src]="combinacao.roupaBaixo.file" style="max-width: 100px; min-width: 100px;">
              <img [src]="combinacao.calcado.file" style="max-width: 100px; min-width: 100px;">
            </div>
          </ng-container>
        </div> -->
        
        <br/>
        <br/>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="SOCIAL">

  </mat-tab>
</mat-tab-group>