<div class="container-configuracoes">
  <mat-card class="card-configuracoes">
    <mat-card-title>Estilo do guarda-roupa</mat-card-title>
    <mat-radio-group id="radio-group-configuracoes" [value]="shareDataService.estiloGuardaRoupa" 
        (change)="setEstiloGuardaRoupa($event)">
      <mat-radio-button value="f" class="radio-button">
        Feminino
      </mat-radio-button>
      <mat-radio-button value="m" class="radio-button">
        Masculino
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <mat-card>
    <mat-card-title>Tema noturno</mat-card-title>

    <mat-slide-toggle [checked]="shareDataService.temaNoturno" 
        class="toggle-tema" (change)="setTemaNoturno($event)">
      {{temaNoturno ? 'Ligado' : 'Desligado'}}
    </mat-slide-toggle>
  </mat-card>
</div>