#radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.container-configuracoes {
  margin: 10px 10px; 
  padding-top: 25px;
}

.card-configuracoes {
  margin-bottom: 20px;
}

.toggle-tema {
  margin: 20px 0;
}