<div style="margin: 10px 10px; padding-top: 25px;">
  <mat-card style="margin-bottom: 20px;">
    <mat-card-title>Estilo do guarda-roupa</mat-card-title>
    <mat-radio-group id="radio-group" [value]="shareDataService.estiloGuardaRoupa" 
        (change)="setEstiloGuardaRoupa($event)">
      <mat-radio-button value="f" class="radio-button">
        Feminino
      </mat-radio-button>
      <mat-radio-button value="m" class="radio-button">
        Masculino
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <mat-card>
    <mat-card-title>Tema noturno</mat-card-title>

    <mat-slide-toggle [checked]="shareDataService.temaNoturno" style="margin: 20px 0;"
        (change)="setTemaNoturno($event)">
      {{temaNoturno ? 'Ligado' : 'Desligado'}}
    </mat-slide-toggle>
  </mat-card>
</div>