<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      opened="false" autoFocus="false"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"> <!--[opened]="false" *ngIf="router.url !== '/login'"-->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['login']">
        Entrar
      </a>
      <a mat-list-item (click)="isMobile ? drawer.toggle() : false" [routerLink]="['look-semanal']">
        Looks da semana
      </a>
      <a mat-list-item (click)="isMobile ? drawer.toggle() : false">
        Look aleatório
      </a>
      <a mat-list-item (click)="isMobile ? drawer.toggle() : false" [routerLink]="['guarda-roupa']">
        Meu guarda-roupa
      </a>
      <a mat-list-item (click)="isMobile ? drawer.toggle() : false" [routerLink]="['configuracoes']">
        Configurações
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3" *ngIf="router.url !== '/login'"
        style="position: fixed; z-index: 5;">
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="margin-left: 15px">{{shareDataService.tituloBarraSuperior}}</span>
    </mat-toolbar>

    <div [ngStyle]="{'height': '100%', 'marginTop': router.url !== '/login' ? '56px' : '0px'}">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
