@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Rubik&display=swap');

$custom-typography: mat-typography-config(
  $font-family: 'Rubik, sans-serif',
);

@include mat-core($custom-typography);

$default-app-primary: mat-palette($mat-indigo);
$default-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$default-app-warn:    mat-palette($mat-red);
$default-app-theme:   mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-app-theme);



$dark-app-primary: mat-palette($mat-gray, 50);
$dark-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$dark-app-warn:    mat-palette($mat-red);
$dark-app-theme:   mat-dark-theme($dark-app-primary, $dark-app-accent, $dark-app-warn);

.dark-theme {
  .mat-error {
    color: white !important;
  }
  .mat-form-field-invalid .mat-input-element {
    caret-color: white !important;
  }
  .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .mat-stroked-button {
    border-color: #ff4081 !important;
  }
  @include angular-material-theme($dark-app-theme);
}



/**
font-family: 'Rubik', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/ 

html, body { height: 100%; font-family: 'Rubik', sans-serif !important; }
body { margin: 0; }
body, h1, h2, h3, h4, h5, span, p, a, button, mat-card-title { 
  font-family: 'Rubik', sans-serif !important;
}

.snack-bar-error {
  color: white;
  background-color: #F44336;
}

.icone-exibir-senha {
  cursor: pointer;
}

button {
  border-radius: 50px !important;
  font-weight: bold !important;
}

.mat-card {
  border-radius: 20px !important;
}

.ocultar-efeito-padrao-clique {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.dark-checkbox {
  @include mat-core-theme($dark-app-theme);
}

mat-dialog-container.mat-dialog-container {
  padding: 0px;
  background: #424242;
  border-radius: 20px;
  overflow-x: hidden;
}

mat-dialog-content.mat-dialog-content {
  margin: 0;
  padding: 0;
}

.display-flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button#criar-conta.mat-stroked-button {
  line-height: 25px !important;
}

.backdrop-dialog {
  background: rgba(0, 0, 0, 0.88);
}

.div-botoes-dialog {
  margin: 40px 0px 10px 0;
  justify-content: space-between;
  display: flex;
}

/*
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: yellowgreen;
  display: none;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color:transparent;
  width: 0px;
}

::-webkit-scrollbar-thumb:horizontal:hover{
  background-color:transparent;
  border: solid 0px transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: blue;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: gray;
  border: solid 5px #2A8894;
}
*/