.container-cards {
  display: flex; 
  overflow-x: auto;
  height: 235px;

  input {
    display: none
  }
}

.div-imagem {
  border-radius: 20px;
  margin: 0px 4px;
  display: flex;
  justify-content: flex-end;
  // border: 1px solid white;
  max-width: 130px;
  min-width: 130px; 
  height: 231px; 
}

.div-icone-remocao {
  background: #ffffff;
  // position: absolute;
  z-index:3;
  width: 24px; 
  height: 24px; 
  cursor: pointer;
  border-radius: 50px; 
  margin: 10px 15px 5px -5px; // /5px 5px 5px -5px; 
  float: right; 
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;

  mat-icon {
    color: #212121;
  }
}

.imagem {
  border-radius: 20px; 
  max-width: 130px; 
  min-width: 130px; 
  z-index: 1;
  height: 231px;
  // border: 2px solid transparent;
}

.backdrop {
  background: #00000070; //#00000047; light
  border-radius: 20px; 
  height: 231px;
  width: 130px;
  // position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.div-opcoes-imagem {
  display: flex; 
  flex-direction:column; 
  z-index: 3; 
  margin: 25px 15px 15px 15px;
  color: white;

  span {
    color: white;
    margin: 20px 0 3px 0;
  }

  span.clima {
    color: white;
    margin-top: 5px;
  }
}

.div-spinner {
  display: flex;
  height: inherit;
  justify-content: center;
}

.div-botao-add {
  border-radius: 20px; 
  max-width: 130px; 
  min-width: 130px; 
  height: 231px; 
  display: flex;
  justify-content: center;
  border: 1px solid transparent;

  div {
    display: flex; 
    justify-content: center; 
    flex-direction: column;

    button {
      margin: 0px auto;

      mat-icon {
        margin-bottom: 3px;
      }
    }

    span {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}

.spinner-margin {
  margin: auto;
}

.div-erro-upload {
  display: flex; 
  height: inherit;
  text-align: center;
  justify-content: center; 
  flex-direction: column;

  button {
    margin: 0px auto;
  }

  span {
    margin: 10px auto;
    width: 100px;
    color: white;
  }
}
.selected {
  border: 2px solid deeppink;
  height: 227px !important;
  min-width: 124px !important;
  max-width: 124px !important;
}